*{
  margin: 0; padding: 0; box-sizing: border-box;
}

body{
  background-color: #111;
}

ul{
   width: 90%;
   display: flex;
   justify-content: space-around;
   list-style: none;

 /* for centering the ul */ 
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
a{
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-family: verdana;
     font-size: 20px;
     display: inline-block;
     padding: 16px 32px;
     transition: all 0.3s;
     border:2px solid transparent; 
}

ul:hover a{
     filter: blur(2px);
}

ul a:hover{
      filter: blur(0);
      border-top:2px solid white;
      border-bottom:2px solid white;
      transform: translateY(-10px);
      background-color: #da4747;
}