{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href={% static 'img/favicon.ico' %}>
    <link rel="stylesheet" href={% static 'style/pages.css' %}>
    <title>Home page</title>
</head>
<body>
  <div class="container">
    {% block content %}
    <header>
      <h1>Home Page</h1>
      <a class="buttons" href='admin/'><button>Admin panel</button></a>
      <a class="buttons" href={% url 'page_1' %}><button>Page 1</button></a>
      <a class="buttons" href={% url 'page_2' %}><button>Page 2</button></a>
      <a class="buttons" href={% url 'page_3' %}><button>Page 3</button></a>
      <a class="buttons" href={% url 'page_4' %}><button>Page 4</button></a>
      <a class="buttons" href={% url 'page_5' %}><button>Page 5</button></a>
      <a class="buttons" href={% url 'page_6' %}><button>Page 6</button></a>
    </header>
    {% endblock content %}
  </div>
</body>
</html>
