body{
    background-color: #111;
}

.container{
 /*for centering the container*/    
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.content{
    background-color: #212121;
    width: 350px; height: 450px;
    position: relative;
}
.content::before{
        content: "";
        position: absolute;
        top: -2px; left: -2px;
        right: -2px; bottom: -2px;
        background-image: linear-gradient(127deg,red,#111,#da292a);
        z-index: -1;
}

.content h1{
        font-family: verdana;
        color: #eee;
        font-size: 1.6rem;
        white-space: nowrap;
            
   /* for centering the h1 within .content */
        margin: 0;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
}