{% extends "base.html" %}

{% block title %} {{ name }} {% endblock %}

{% block buttons %}
<ul>
  <li>
    <a class="buttons" href={% url 'project_0' %}><button class="btns">Project 0</button></a>
    <a class="buttons" href={% url 'project_1' %}><button class="btns">Project 1</button></a>
    <a class="buttons" href={% url 'project_2' %}><button class="btns">Project 2</button></a>
    <a class="buttons" href={% url 'project_3' %}><button class="btns">Project 3</button></a>
    <a class="buttons" href={% url 'project_4' %}><button class="btns">Project 4</button></a>
    <a class="buttons" href={% url 'project_5' %}><button class="btns">Project 5</button></a>
    <a class="buttons" href={% url 'project_6' %}><button class="btns">Project 6</button></a>
    <a class="buttons" href={% url 'project_7' %}><button class="btns">Project 7</button></a>
    <a class="buttons" href={% url 'project_8' %}><button class="btns">Project 8</button></a>
    <a class="buttons" href={% url 'project_9' %}><button class="btns">Project 9</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_10' %}><button class="btns">Project 10</button></a>
    <a class="buttons" href={% url 'project_11' %}><button class="btns">Project 11</button></a>
    <a class="buttons" href={% url 'project_12' %}><button class="btns">Project 12</button></a>
    <a class="buttons" href={% url 'project_13' %}><button class="btns">Project 13</button></a>
    <a class="buttons" href={% url 'project_14' %}><button class="btns">Project 14</button></a>
    <a class="buttons" href={% url 'project_15' %}><button class="btns">Project 15</button></a>
    <a class="buttons" href={% url 'project_16' %}><button class="btns">Project 16</button></a>
    <a class="buttons" href={% url 'project_17' %}><button class="btns">Project 17</button></a>
    <a class="buttons" href={% url 'project_18' %}><button class="btns">Project 18</button></a>
    <a class="buttons" href={% url 'project_19' %}><button class="btns">Project 19</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_20' %}><button class="btns">Project 20</button></a>
    <a class="buttons" href={% url 'project_21' %}><button class="btns">Project 21</button></a>
    <a class="buttons" href={% url 'project_22' %}><button class="btns">Project 22</button></a>
    <a class="buttons" href={% url 'project_23' %}><button class="btns">Project 23</button></a>
    <a class="buttons" href={% url 'project_24' %}><button class="btns">Project 24</button></a>
    <a class="buttons" href={% url 'project_25' %}><button class="btns">Project 25</button></a>
    <a class="buttons" href={% url 'project_26' %}><button class="btns">Project 26</button></a>
    <a class="buttons" href={% url 'project_27' %}><button class="btns">Project 27</button></a>
    <a class="buttons" href={% url 'project_28' %}><button class="btns">Project 28</button></a>
    <a class="buttons" href={% url 'project_29' %}><button class="btns">Project 29</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_30' %}><button class="btns">Project 30</button></a>
    <a class="buttons" href={% url 'project_31' %}><button class="btns">Project 31</button></a>
    <a class="buttons" href={% url 'project_32' %}><button class="btns">Project 32</button></a>
    <a class="buttons" href={% url 'project_33' %}><button class="btns">Project 33</button></a>
    <a class="buttons" href={% url 'project_34' %}><button class="btns">Project 34</button></a>
    <a class="buttons" href={% url 'project_35' %}><button class="btns">Project 35</button></a>
    <a class="buttons" href={% url 'project_36' %}><button class="btns">Project 36</button></a>
    <a class="buttons" href={% url 'project_37' %}><button class="btns">Project 37</button></a>
    <a class="buttons" href={% url 'project_38' %}><button class="btns">Project 38</button></a>
    <a class="buttons" href={% url 'project_39' %}><button class="btns">Project 39</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_40' %}><button class="btns">Project 40</button></a>
    <a class="buttons" href={% url 'project_41' %}><button class="btns">Project 41</button></a>
    <a class="buttons" href={% url 'project_42' %}><button class="btns">Project 42</button></a>
    <a class="buttons" href={% url 'project_43' %}><button class="btns">Project 43</button></a>
    <a class="buttons" href={% url 'project_44' %}><button class="btns">Project 44</button></a>
    <a class="buttons" href={% url 'project_45' %}><button class="btns">Project 45</button></a>
    <a class="buttons" href={% url 'project_46' %}><button class="btns">Project 46</button></a>
    <a class="buttons" href={% url 'project_47' %}><button class="btns">Project 47</button></a>
    <a class="buttons" href={% url 'project_48' %}><button class="btns">Project 48</button></a>
    <a class="buttons" href={% url 'project_49' %}><button class="btns">Project 49</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_50' %}><button class="btns">Project 50</button></a>
    <a class="buttons" href={% url 'project_51' %}><button class="btns">Project 51</button></a>
    <a class="buttons" href={% url 'project_52' %}><button class="btns">Project 52</button></a>
    <a class="buttons" href={% url 'project_53' %}><button class="btns">Project 53</button></a>
    <a class="buttons" href={% url 'project_54' %}><button class="btns">Project 54</button></a>
    <a class="buttons" href={% url 'project_55' %}><button class="btns">Project 55</button></a>
    <a class="buttons" href={% url 'project_56' %}><button class="btns">Project 56</button></a>
    <a class="buttons" href={% url 'project_57' %}><button class="btns">Project 57</button></a>
    <a class="buttons" href={% url 'project_58' %}><button class="btns">Project 58</button></a>
    <a class="buttons" href={% url 'project_59' %}><button class="btns">Project 59</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_60' %}><button class="btns">Project 60</button></a>
    <a class="buttons" href={% url 'project_61' %}><button class="btns">Project 61</button></a>
    <a class="buttons" href={% url 'project_62' %}><button class="btns">Project 62</button></a>
    <a class="buttons" href={% url 'project_63' %}><button class="btns">Project 63</button></a>
    <a class="buttons" href={% url 'project_64' %}><button class="btns">Project 64</button></a>
    <a class="buttons" href={% url 'project_65' %}><button class="btns">Project 65</button></a>
    <a class="buttons" href={% url 'project_66' %}><button class="btns">Project 66</button></a>
    <a class="buttons" href={% url 'project_67' %}><button class="btns">Project 67</button></a>
    <a class="buttons" href={% url 'project_68' %}><button class="btns">Project 68</button></a>
    <a class="buttons" href={% url 'project_69' %}><button class="btns">Project 69</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_70' %}><button class="btns">Project 70</button></a>
    <a class="buttons" href={% url 'project_71' %}><button class="btns">Project 71</button></a>
    <a class="buttons" href={% url 'project_72' %}><button class="btns">Project 72</button></a>
    <a class="buttons" href={% url 'project_73' %}><button class="btns">Project 73</button></a>
    <a class="buttons" href={% url 'project_74' %}><button class="btns">Project 74</button></a>
    <a class="buttons" href={% url 'project_75' %}><button class="btns">Project 75</button></a>
    <a class="buttons" href={% url 'project_76' %}><button class="btns">Project 76</button></a>
    <a class="buttons" href={% url 'project_77' %}><button class="btns">Project 77</button></a>
    <a class="buttons" href={% url 'project_78' %}><button class="btns">Project 78</button></a>
    <a class="buttons" href={% url 'project_79' %}><button class="btns">Project 79</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_80' %}><button class="btns">Project 80</button></a>
    <a class="buttons" href={% url 'project_81' %}><button class="btns">Project 81</button></a>
    <a class="buttons" href={% url 'project_82' %}><button class="btns">Project 82</button></a>
    <a class="buttons" href={% url 'project_83' %}><button class="btns">Project 83</button></a>
    <a class="buttons" href={% url 'project_84' %}><button class="btns">Project 84</button></a>
    <a class="buttons" href={% url 'project_85' %}><button class="btns">Project 85</button></a>
    <a class="buttons" href={% url 'project_86' %}><button class="btns">Project 86</button></a>
    <a class="buttons" href={% url 'project_87' %}><button class="btns">Project 87</button></a>
    <a class="buttons" href={% url 'project_88' %}><button class="btns">Project 88</button></a>
    <a class="buttons" href={% url 'project_89' %}><button class="btns">Project 89</button></a>
  </li>
  <li>
    <a class="buttons" href={% url 'project_90' %}><button class="btns">Project 90</button></a>
    <a class="buttons" href={% url 'project_91' %}><button class="btns">Project 91</button></a>
    <a class="buttons" href={% url 'project_92' %}><button class="btns">Project 92</button></a>
    <a class="buttons" href={% url 'project_93' %}><button class="btns">Project 93</button></a>
    <a class="buttons" href={% url 'project_94' %}><button class="btns">Project 94</button></a>
    <a class="buttons" href={% url 'project_95' %}><button class="btns">Project 95</button></a>
    <a class="buttons" href={% url 'project_96' %}><button class="btns">Project 96</button></a>
    <a class="buttons" href={% url 'project_97' %}><button class="btns">Project 97</button></a>
    <a class="buttons" href={% url 'project_98' %}><button class="btns">Project 98</button></a>
    <a class="buttons" href={% url 'project_99' %}><button class="btns">Project 99</button></a>
  </li>
</ul>
{% endblock %}
