body{
    background-color:black;
    
/* for centering the div */
	margin: 0;
    height: 100vh;
    display: flex;  		
    justify-content: center;
    align-items: center;
}

div{
    font-family: "Arial Black" ;
    color:white;
    font-size: 14rem;

/* the below line of code will add a stroke of 6px width 
   and grey in color, to the text*/
 	-webkit-text-stroke:6px grey;
}