.container{
    /* for centering the container */   
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);    
}

.container img{
        width: 100%;
        height: auto;
}
