{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'style/home_page/home.css' %}>
    <title>Home page</title>
</head>
<body>
    <div class="container">
        <h1>Home Page</h1>
        <a href={% url 'page_1' %}><button>PAGE 1</button></a>
        <a href={% url 'page_2' %}><button>PAGE 2</button></a>
        <a href={% url 'page_3' %}><button>PAGE 3</button></a>
        <a href={% url 'page_4' %}><button>PAGE 4</button></a>
        <a href={% url 'page_5' %}><button>PAGE 5</button></a>
    </div>
</body>
</html>
