body{
    margin:0;
    background-color: #000;

  /* for centering the .egg */  
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.egg{
    display: block;
    width: 140px; height: 200px;
    background-color: #fff;
    border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}